@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.content-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.content {
  font-family: 'Montserrat';
}