@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

footer.footer-container {
  margin-top: 3em;
  background-color: #d6e2b1;
  color: #2e2e2e;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

footer.footer-container .footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-weight: 700;
}

footer.footer-container .footer a {
  text-decoration: none;
  color: #2e2e2e;
}

footer.footer-container .footer .social-media a {
  text-decoration: none !important;
  color: #2e2e2e;
}

footer.footer-container .footer .social-media {
  display: flex;
  flex-direction: row;
  gap: 0.6em;
}

footer.footer-container .footer .social-media a img {
  width: 30px;
  border-radius: 15px;
}